  <!-- Подвал -->

  <footer class="container flex items-center justify-center md:justify-between gap-5 lg:gap-16 bg-gray py-3 sm:py-5 duration-3">
    <a class="hidden md:flex btn btn-primary w-[104px] sm:w-[166px] lg:mr-auto" data-waved="light" href="/">
      <picture>
        <source srcset="img/pictures/logo.webp" type="image/webp">
        <img class="w-full" src="img/pictures/logo.png" alt="">
      </picture>
    </a>
    <div class="flex items-center gap-6">
      <% for (var i = 0; i < social.length; i++) { %>
        <a class="btn btn-black btn-light <%= social[i].size %> rounded-max w-[32px] h-[32px]" data-waved="dark" href="">
          <svg class="icon">
            <use xlink:href="img/icons.svg#<%= social[i].icon %>">
          </svg>
        </a>
      <% } %>
    </div>
    <a class="hidden md:flex btn btn-primary text-14 sm:text-20 leading-3" data-waved="light" href="tel: +7 (918) 095-17-74">+7 (918) 095-17-74</a>
  </footer>

</body>
</html>