<%

  var data = {

    title: 'Detailing',
    status: true

  }

  var social = [
    {
      size: 'text-16',
      icon: 'inst'
    },
    {
      size: 'text-20',
      icon: 'vk'
    },
    {
      size: 'text-14',
      icon: 'tg'
    },
    {
      size: 'text-18',
      icon: 'wa'
    }
  ]

%>

<%= _.template(require('./includes/header.html').default)({data, social}) %>

<!-- Главный блок -->

<% var main = [
  {
    text: '54 ФИЛИАЛА'
  },
  {
    text: '10000+ КЛИЕНТОВ'
  },
  {
    text: '70% ЭКОНОМИЯ'
  },
  {
    text: 'ПРИЕЗЖАЙТЕ В ЛЮБОЕ ВРЕМЯ'
  }
] %>

<main class="main container flex items-center justify-center relative overflow-hidden min-h-[700px] sm:min-h-[950px]">
  <div class="main__bg absolute inset-0">
    <div class="pack w-full h-full">
      <picture>
        <source srcset="img/pictures/started.webp" type="image/webp">
        <img class="image hidden sm:block" src="img/pictures/started.png" alt="">
      </picture>
      <picture>
        <source srcset="img/pictures/started-min.webp" type="image/webp">
        <img class="image sm:hidden" src="img/pictures/started-min.png" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center relative">
    <h3 class="font-alt font-medium text-center text-16 sm:text-22 lg:text-28 leading-3 mb-10 sm:mb-12 lg:mb-20 ease-out duration-4 anim anim--up" data-anim="hidden">
      Хочешь сделать хорошо? <br>
      Сделай это <span class="text-primary">сам!</span>
    </h3>
    <h1 class="font-alt uppercase text-center text-30 sm:text-40 lg:text-50 mb-10 sm:mb-16 lg:mb-20 ease-out duration-4 delay-2 anim anim--up" data-anim="hidden">ДЕТЕЙЛИНГ В КРАСНОДАРЕ</h1>
    <h3 class="font-alt font-medium text-center text-16 sm:text-22 lg:text-28 leading-3 mb-16 sm:mb-10 ease-out duration-4 delay-3 anim anim--up" data-anim="hidden">Узнай сколько это будет стоить</h3>
    <div class="ease-out duration-4 delay-6 anim anim--up" data-anim="hidden">
      <button class="btn btn-main btn-xl sm:btn-xxl btn-fill uppercase text-14 sm:text-16 w-full max-w-[430px] px-5" data-waved="dark" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-quiz.html">Предварительная оценка</button>
    </div>
  </div>
  <div class="main-slider main-slider--grey absolute bottom-16 left-0 right-0 pointer-events-none w-full">
    <div class="swiper">
      <div class="main-wrapper swiper-wrapper">
        <% for (var i = 0; i < 20; i++) { %>
          <div class="swiper-slide w-max">
            <div class="flex items-center justify-center w-[120px] sm:w-[200px] h-[38px] sm:h-[52px]">
              <picture>
                <source srcset="img/pictures/logo-grey.webp" type="image/webp">
                <img class="block w-[80px] sm:w-[100px]" src="img/pictures/logo-grey.png" alt="">
              </picture>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="main-slider main-slider--green absolute bottom-10 sm:bottom-14 left-0 right-0 pointer-events-none text-black w-full">
    <div class="swiper" dir="rtl">
      <div class="main-wrapper swiper-wrapper">
        <% for (var i = 0; i < main.length; i++) { %>
          <div class="swiper-slide w-max" dir="ltr">
            <div class="flex items-center justify-center gap-10 h-[38px] sm:h-[52px]">
              <p class="font-alt font-medium uppercase text-center text-14 sm:text-18 leading-3"><%= main[i].text %></p>
              <picture>
                <source srcset="img/pictures/logo-grey.webp" type="image/webp">
                <img class="block w-[80px] sm:w-[100px]" src="img/pictures/logo-grey.png" alt="">
              </picture>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</main>

<!-- Отзывы -->

<% var reviews = [
  {
    delay: '',
    img: '1'
  },
  {
    delay: 'delay-1',
    img: '2'
  },
  {
    delay: 'delay-2',
    img: '3'
  },
  {
    delay: 'delay-3',
    img: '4'
  }
] %>

<section class="reviews container relative overflow-hidden">
  <div class="flex items-center justify-center absolute inset-0">
    <img class="w-full min-w-[1100px]" src="img/pictures/gradient.png" alt="">
  </div>
  <div class="reviews-slider relative">
    <div class="swiper swiper--overwrap overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < reviews.length; i++) { %>
          <div class="swiper-slide h-auto">
            <div class="relative h-full ease-out duration-6 <%= reviews[i].delay %> anim anim--left" data-anim="hidden">
              <a class="pack pack-[205] bg-dark rounded-[44px]" data-fancybox="reviews" href="https://www.youtube.com/watch?v=WK5gUedQpK8">
                <div class="loader">
                  <span class="loader-progress">
                    <svg class="loader-icon icon">
                      <use xlink:href="img/icons.svg#loader">
                    </svg>
                  </span>
                </div>
                <picture>
                  <source srcset="img/pictures/reviews-<%= reviews[i].img %>.webp" type="image/webp">
                  <img class="image image-rise" loading="lazy" src="img/pictures/reviews-<%= reviews[i].img %>.png" alt="">
                </picture>
                <div class="flex items-center justify-center absolute inset-0 pointer-events-none">
                  <img class="icon text-9xl" src="img/pictures/yt.svg" alt="">
                </div>
              </a>
              <div class="absolute -inset-1 pointer-events-none">
                <picture>
                  <source srcset="img/pictures/phone.webp" type="image/webp">
                  <img class="w-full h-full" src="img/pictures/phone.png" alt="">
                </picture>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</section>

<!-- Сравнение -->

<% var compare = [
  {
    hidden: '',
    delay: '',
    data: '',
    img: '1',
    text: 'Химчистка салона'
  },
  {
    hidden: '',
    delay: 'lg:delay-2',
    data: '',
    img: '2',
    text: 'Химчистка салона'
  },
  {
    hidden: '',
    delay: 'lg:delay-4',
    data: '',
    img: '3',
    text: 'Химчистка салона'
  },
  {
    hidden: 'hidden sm:block',
    delay: '',
    data: 'data-listing-item',
    img: '4',
    text: 'Полировка автомобиля'
  },
  {
    hidden: 'hidden sm:block',
    delay: 'lg:delay-2',
    data: 'data-listing-item',
    img: '5',
    text: 'Полировка фар'
  },
  {
    hidden: 'hidden sm:block',
    delay: 'lg:delay-4',
    data: 'data-listing-item',
    img: '6',
    text: 'Мойка подкапотного пространства'
  }
] %>

<section class="compare container container--xs relative overflow-hidden" data-listing="1">
  <div class="hidden md:block absolute -right-5 -bottom-20 bg-green bg-opacity-30 blur-[100px] w-[480px] h-[160px]"></div>
  <div class="relative">
    <h2 class="font-alt uppercase text-center text-24 sm:text-30 lg:text-40 mb-12 sm:mb-10 lg:mb-16 ease-out duration-4 anim anim--up" data-anim="hidden">РАБОТЫ НАШИХ ПОСЕТИТЕЛЕЙ</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-9 md:gap-11">
      <% for (var i = 0; i < compare.length; i++) { %>
        <div class="<%= compare[i].hidden %> ease-out duration-4 <%= compare[i].delay %> anim anim--right" data-anim="hidden" <%= compare[i].data %>>
          <div class="relative bg-grey rounded-4 overflow-hidden w-full mb-4" data-compare>
            <div class="loader">
              <span class="loader-progress">
                <svg class="loader-icon icon">
                  <use xlink:href="img/icons.svg#loader">
                </svg>
              </span>
            </div>
            <div class="pack absolute z-1 pointer-events-none w-1/2 h-full" data-compare-before>
              <picture>
                <source srcset="img/pictures/compare-<%= compare[i].img %>-1.webp" type="image/webp">
                <img class="image" data-compare-image src="img/pictures/compare-<%= compare[i].img %>-1.jpg" loading="lazy" alt="">
              </picture>
            </div>
            <picture>
              <source srcset="img/pictures/compare-<%= compare[i].img %>-2.webp" type="image/webp">
              <img class="block relative pointer-events-none w-full h-full" src="img/pictures/compare-<%= compare[i].img %>-2.jpg" alt="">
            </picture>
            <div class="flex items-center justify-center absolute top-0 bottom-0 left-2/4 z-2 -translate-x-1/2 bg-white w-px h-full my-auto" data-compare-change>
              <button class="btn btn-white text-44 rounded-max cursor-col-resize w-[50px] min-w-[50px] h-[50px]">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#arrows">
                </svg>
              </button>
            </div>
          </div>
          <h3 class="font-alt font-medium text-14 sm:text-16 lg:text-20 leading-3"><%= compare[i].text %></h3>
        </div>
      <% } %>
    </div>
    <div class="sm:hidden mt-9 ease-out duration-4 anim anim--up" data-anim="hidden">
      <button class="btn btn-main btn-xl btn-fill uppercase text-14 sm:text-16 w-full" data-waved="dark" data-listing-show>показать еще</button>
    </div>
  </div>
</section>

<%= _.template(require('./includes/footer.html').default)({data, social}) %>